{
	"token": "",
	"prefix": "!",
	"eventsPath": "events",
	"commandsPath": "commands",
	"reconnectTimeout": 15000,
	"gameURL": {
		"secure": true,
		"host": "pxls.space"
	},
	"logging": {
		"saveToFile": true,
		"level": "INFO"
	},
	"presence": {
		"status": "online",
		"activity": {
			"name": "pxls.space",
			"type": "PLAYING",
			"url": "https://pxls.space/"
		}
	},
	"database": {
		"host": "localhost",
		"port": 5432,
		"user": "pxlsbot",
		"password": "pxlsbot",
		"database": "pxlsbot"
	}
}
